<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta content="width=device-width" name="viewport">
    <meta charset="utf-8">
    <title>JIT Plugin for Highlight.js</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>JIT Plugin for <a href="https://highlightjs.org" rel="nofollow" target="_blank">Highlight.js</a></h1>
    </header>
    <main>
      <h2>CSS</h2>
      <pre><code class="css">* {
  margin: 0;
  padding: 0;
  font: inherit;
  <mark>color</mark>: inherit;
  box-sizing: border-box;
}

html {
  background: #fff;
  font: <mark>normal</mark> normal 16px/1.4 sans-serif;
  color: #000;
}

body {
  padding: 2em;
}

#main {
  max-width: 600px;
  margin: 0 auto;
}</code></pre>
      <h2>HTML</h2>
      <pre><code class="html">&lt;main <mark>id="ma</mark>in"&gt;
  &lt;p&gt;Loading&amp;hellip;&lt;/p&gt;
&lt;/main&gt;</code></pre>
      <h2>JavaScript</h2>
      <pre><code class="js">let controller = new AbortController;
fetch('https://example.com/api/list.json', {
    signal: controller.signal
}).then(<mark>response</mark> =&gt; response.json()).then(json =&gt; {
    let out = "";
    for (let v of json) {
        out += '&lt;article&gt;';
        out += '&lt;h2&gt;' + v.title + '&lt;/h2&gt;';
        out += '&lt;p&gt;' + v.description + '&lt;/p&gt;';
        out += '&lt;/article&gt;';
    }
    document.querySelector('#main').innerHTML = out;
});</code></pre>
      <h2>Twig (Preloaded)</h2>
      <pre><code class="twig">{% if posts|length %}
  {% for article in articles %}
  &lt;div&gt;
  {{ article.title|upper() }}

  {# outputs 'WELCOME' #}
  &lt;/div&gt;
  {% <mark>endfor</mark> %}
{% endif %}

{% set user = json_encode(user) %}

{{ random(['apple', 'orange', 'citrus']) }}

{{ include(template_from_string("Hello {{ name }}")) }}

{#
Comments may be long and multiline.
Markup is &lt;em&gt;not&lt;/em&gt; highlighted within comments.
#}</code></pre>
      <h2>Fortran (Preloaded)</h2>
      <pre><code class="fortran">subroutine test_sub(k)
    implicit none

  !===============================
  !   This is a test subroutine
  !===============================

    integer, intent(in)           :: k
    double precision, allocatable :: a(:)
    integer, parameter            :: nmax=10
    integer                       :: i

    allocate (a(<mark>nmax</mark>))

    do i=1,nmax
      a(i) = dble(i)*5.d0
    enddo

    print *, 'Hello world'
    write (*,*) a(:)
</code></pre>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script src="highlight.jit.min.js"></script>
    <script>
    hljs.currentLanguagePath = 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/languages/%s.min.js';
    hljs.initHighlighting();
    </script>
  </body>
</html>
